<div class="{{ entryClass }}" style="background: url('{{ entry.image.first.url }}') no-repeat center top;
        background-size: cover;">
</div>
{#<div class="{{ entryClass }}">#}
    {#<img src="{{ entry.image.first.url }}" alt="">#}
{#</div>#}