<div class="{{ entryClass }} background-{{ entry.backgroundColor.first | lower | replace(' ', '-') }}">
    <div>
        <q>{{ entry.text }}</q>
        <div class="quote-person">{{ entry.person }}</div>
    </div>
</div>