@font-face {
    font-family: GothamBold;
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/GothamBold.eot');
    src: url('/fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GothamBold.woff2') format('woff2'),
        url('/fonts/GothamBold.woff') format('woff'),
        url('/fonts/GothamBold.ttf') format('truetype'),
        url('/fonts/GothamBold.svg#GothamBold') format('svg');
}

@font-face {
    font-family: GothamLight;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/GothamLight.eot');
    src: url('/fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GothamLight.woff2') format('woff2'),
        url('/fonts/GothamLight.woff') format('woff'),
        url('/fonts/GothamLight.ttf') format('truetype'),
        url('/fonts/GothamLight.svg#GothamLight') format('svg');
}

@font-face {
    font-family: GothamBlack;
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/GothamBlack.eot');
    src: url('/fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GothamBlack.woff2') format('woff2'),
        url('/fonts/GothamBlack.woff') format('woff'),
        url('/fonts/GothamBlack.ttf') format('truetype'),
        url('/fonts/GothamBlack.svg#GothamBlack') format('svg');
}

@font-face {
    font-family: GothamBook;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/GothamBook.eot');
    src: url('/fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GothamBook.woff2') format('woff2'),
        url('/fonts/GothamBook.woff') format('woff'),
        url('/fonts/GothamBook.ttf') format('truetype'),
        url('/fonts/GothamBook.svg#GothamBook') format('svg');
}

@font-face {
    font-family: GothamBookItalic;
    font-style: italic;
    font-weight: normal;
    src: url('/fonts/GothamBook-Italic.eot');
    src: url('/fonts/GothamBook-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GothamBook-Italic.woff2') format('woff2'),
        url('/fonts/GothamBook-Italic.woff') format('woff'),
        url('/fonts/GothamBook-Italic.ttf') format('truetype'),
        url('/fonts/GothamBook-Italic.svg#GothamBook-Italic') format('svg');
}

@font-face {
    font-family: GothamMedium;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/GothamMedium.eot');
    src: url('/fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GothamMedium.woff2') format('woff2'),
        url('/fonts/GothamMedium.woff') format('woff'),
        url('/fonts/GothamMedium.ttf') format('truetype'),
        url('/fonts/GothamMedium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: GabrielloBold;
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Gabriello-Bold.eot');
    src: url('/fonts/Gabriello-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gabriello-Bold.woff2') format('woff2'),
        url('/fonts/Gabriello-Bold.woff') format('woff'),
        url('/fonts/Gabriello-Bold.ttf') format('truetype'),
        url('/fonts/Gabriello-Bold.svg#Gabriello-Bold') format('svg');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: normal;
    src:  url('/fonts/icomoon/icomoon.eot?g0c6me');
    src:  url('/fonts/icomoon/icomoon.eot?g0c6me#iefix') format('embedded-opentype'),
        url('/fonts/icomoon/icomoon.ttf?g0c6me') format('truetype'),
        url('/fonts/icomoon/icomoon.woff?g0c6me') format('woff'),
        url('/fonts/icomoon/icomoon.svg?g0c6me#icomoon') format('svg');
}