
[class^='icomoon-'], [class*=' icomoon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: icomoon !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
}

.icomoon-charm:before {
    content: '\e900';
}
.icomoon-design:before {
    content: '\e901';
}
.icomoon-eco-friendly:before {
    content: '\e902';
}
.icomoon-family-friendly:before {
    content: '\e903';
}
.icomoon-hospitality:before {
    content: '\e904';
}
.icomoon-pet-friendly:before {
    content: '\e905';
}
.icomoon-setting:before {
    content: '\e906';
}
.icomoon-urban:before {
    content: '\e907';
}
.icomoon-charm-small:before {
    content: '\e908';
}
.icomoon-design-small:before {
    content: '\e909';
}
.icomoon-eco-friendly-small:before,
.icomoon-eco-small:before{
    content: '\e90a';
}
.icomoon-family-friendly-small:before,
.icomoon-familyFriendly-small:before{
    content: '\e90b';
}
.icomoon-hospitality-small:before {
    content: '\e90c';
}
.icomoon-pet-friendly-small:before,
.icomoon-petFriendly-small:before{
    content: '\e90d';
}
.icomoon-setting-small:before {
    content: '\e90e';
}
.icomoon-urban-small:before {
    content: '\e90f';
}
.icomoon-icon-video:before {
    content: '\e910';
}
.icomoon-icon-close:before {
    content: '\e911';
}
.icomoon-icon-check:before {
    content: '\e912';
}
.icomoon-icon-arrow:before {
    content: '\e913';
}